section{
    background: url(../img/dolar.png);
}
   
header .logo {
    color: #000;
}
.content {
    display: flex;
    width: 100%;
    height: 700px;
    margin: 0;
    justify-content: center;
    align-items: center;
}
.content .textBox {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
}

.cotacao {
    display: flex;
    width: 100%;
    height: 90%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    
}

.cotacao .cotDolar {
    margin: 20px;
    position: relative;
    display: flex;
    font-size: 30px;
    justify-content: center;
    align-items: center;
}
.cotacao .cotDolar .simbolo {
    display: flex;
    font-size: 50px;
    color: #000;

}
.cotacao .cotDolar .real {
    margin-right: 10px;
    width: 175px;
    height: 75px;
    font-size: 50px;
}
.cotacao .cotDolar .real:focus{
    width: 300px;
}

.cotacao .cotDolar input[type="text"] {
    border: none;
    outline: none;
    padding-left: 10px;
    border-radius: 15px;
    text-align: right;
}
.cotacao .cotDolar input[type="text"]:focus {
    background-color: rgba(0, 0, 0, 0.411);
    color: #fff;
}
.content .textBox .cotacao .submit {
    position: fixed;
    display: flex;
    /* margin-top: 250px; */
    width: 50%;
    height: 30%;
    justify-content: center;
    align-items: flex-end;
}
.content .textBox .cotacao .submit .btn{
    margin-left: 20px;
}

