{% extends 'base.html' %}
{% load static %}

{% block css %} 
<link rel="stylesheet" href="{% static 'css/dolar.css' %}"> 
{% endblock css %}

{% block titulo %}
Cotação | Moeda
{% endblock titulo %}

{% block logo %}
Cotação
{% endblock logo %}

{% block urlmenu %} {% url 'Advice' %} {% endblock urlmenu %}

{% block menu %} Advice {% endblock menu %}

{% block center %}
{% if cot == False %}
<div class="content">
    <div class="textBox">
        <h2>Ops! Algo errado aconteceu.</h2>
        <p class="adiver">{% block advice %} {{ valor }} {% endblock advice %}</p>
        <a href="{% block url %} {% url 'Choice' %} {% endblock url %}">{% block btnName %}Voltar{% endblock btnName %}</a>
    </div>
</div>

{% else %}
<div class="cotacao">
    <span class="cotDolar">
        <span class="simbolo">US$</span>
        <input type="text" class="real" id="0" value="1.00">
    </span>
    <span class="cotDolar">
        <span class="simbolo">R$</span>
        <input type="text" class="real" id="final"  value="{{ valor }}" readonly>
        <input type="text" id="valor"  value="{{ valor }}">
    </span>
    <div class="submit">
        <a href="#" class="btn btnsubmit" >Converter</a>
        <a href=" {% url 'Choice' %} " class="btn btnsubmit" >Mudar Moedas</a>
    </div>
</div>
{% endif %}
{% endblock center %}

{% block script %}
    <script src="{% static 'js/script.js' %}"></script>
{% endblock script %}