{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css %}<link rel="stylesheet" href="{% static 'css/style.css' %}">{% endblock css %}
    {% block favicon %}<link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">{% endblock favicon %}
    {% block titulo %}Adice{% endblock titulo %}
</head>
<body>
    <section>
        <!--Menu top -->
        <header>
            <a href="{% url 'Index' %}" class="logo">Advice</a>
            <ul class="navigation">
                <li><a href="{% url 'Choice' %}" class="active">Cotação</a></li>
            </ul>
        </header>
        <!-- Page -->
        <div class="content">
            <div class="textBox">
                <h2>Can I give you an advice?</h2>
                <p class="adiver">{% block advice %} {{ call }} {% endblock advice %}</p>
                <a href="{% block url %} {% url 'Advice' %} {% endblock url %}">{% block btnName %}Other{% endblock btnName %}</a>
            </div>
        </div>

        <!--Media Social-->
        <div class="sci">
            <li><a href="#"><img src="{% static 'img/1.png' %}" alt="Facebook"></a></li>
            <li><a href="#"><img src="{% static 'img/2.png' %}" alt="Linkedin"></a></li>
            <li><a href="#"><img src="{% static 'img/5.png' %}" alt="Instagram"></a></li>
        </div>
    </section>
</body>
</html>