{% load static %}
<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block css %} 
    {% endblock css %}
    {% block favicon %} <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon"> {% endblock favicon %}
    <title>{% block titulo %}Advice{% endblock titulo %}</title>
</head>
<body>
    <section>
        <!--Menu top -->
        <header>
            <a href="{% url 'Index' %}" class="logo">{% block logo %}Advice{% endblock logo %}</a>
            <ul class="navigation">
                <li><a href="{% block urlmenu %} {% url 'Dolar' %} {% endblock urlmenu %}" class="active">{% block menu %}Cotação{% endblock menu %}</a></li>
            </ul>
        </header>
        <!-- Page -->
        <div class="content">
            <div class="textBox">
                {% block center %}
                <h2>{% block h2 %}Can I give you an advice?{% endblock h2 %}</h2>
                <p class="adiver">{% block advice %}{{ first }}{% endblock advice %}</p>
                <a href="{% block url %}{% url 'Advice' %}{% endblock url %}">{% block btnName %}Generate advice{% endblock btnName %}</a>
                {% endblock center %}
            </div>
        </div>

        <!--Media Social-->
        <div class="sci">
            <li><a href="#"><img src="{% static 'img/1.png' %}" alt="Facebook"></a></li>
            <li><a href="#"><img src="{% static 'img/2.png' %}" alt="Linkedin"></a></li>
            <li><a href="#"><img src="{% static 'img/5.png' %}" alt="Instagram"></a></li>
        </div>
    </section>
</body>
</html>