.content {
    height: 100%;
    width: 100%;
    display: flex;
}
.content .textBox {
    display: flex;
    width: 100%;
    height: 100%;
}


form {
    display: inline-grid;
    width: 100%;
    height: 100%;
    justify-content: center;
}
form label {
    font-size: 2.5em;
    margin-bottom: 15px;
}
form #id_coin_origin, #id_coin_destiny {
    padding: 10px;
    width: 250px;
    border: 2px solid #3d9eef;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 1.2em;
    font-weight: 800;
    overflow: hidden;
    background-color: transparent;
    
}
form input {
    margin-top: 10px;
    height: 50px;
    background-color: #3d9eef;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.05);
    font-size: 2em;
    color: #fff;
}